.nav,
.nav-items,
.nav-items ul,
.nav-items li {
    background: white;

}

.logo {
    cursor: pointer;
    height: 60px;
}

.nav {
    font-family: 'Consolas';
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
    z-index: 10;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-items ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.nav-items ul li {
    cursor: pointer;
    padding: 30px;
    font-size: 20px;
    transition: 0.1s ease-in-out;
}

.nav-items ul li:hover {
    font-weight: bold;
}