.project-card {
    font-family: 'Barlow';
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    margin-top: 20px;
}

.project-img {
    width: 800px;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 750px;
}

.project-info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.project-info h3 {
    font-size: 20px;
}

.project-info img {
    height: 60px;
}

.project-info-btn {
    margin-left: auto; 
}

.project-highlights h4 {
    font-family: "Roboto Mono";
    color: #b1b0b0;
    margin-bottom: 10px;
}

.project-highlights ul {
    font-family: 'Kanit';
    list-style:disc;
    margin-left: 20px;
}

.project-content h2 {
    font-size: 45px;
    font-weight: 600;
    width: 500px;
    margin-bottom: 20px;
}

.project-description p{
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    margin: 0px 10px;
}

.project-description {
    margin-bottom: 50px;
}
